﻿@model PoCWebApp.Models.PrintViewModel
@{
    ViewBag.Title = "Print";
}

<h2>Print</h2>

Remote IP: @ViewBag.RemoteIP <br/>
Remote Host: @ViewBag.RemoteHost <br />&nbsp;<br/>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.SelectedPrinter)<br/>
        @Html.DropDownListFor(m => m.SelectedPrinter, Model.AvailablePrinters)
    </div>

    <button type="submit" class="btn btn-primary btn-large">Print sample PDF document</button>
}